
body{
    margin: 0;
}.spacetop{
    margin-top: 80px;
}
.section-auth{
    width: 100%;
}
.section-auth-container{
    width: 100%;
    height: calc(100vh - 80px);
    display: flex;
}
.auth-container-image{
    width: 70%;
    overflow: hidden;
}
.auth-container-image-container{
    width: 100%;
    height: 100%;
}
.auth-container-image-container img{
    aspect-ratio: 1/1;
    object-fit: cover;
    filter: grayscale(10%);
}
.auth-container-login{
    width: 30%;
    height: 100%;
    align-self: center;
    justify-self: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.container-login-signup{
    height: 90%;
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.container-login-signup-title{

}
.container-login-signup-text{
    width: 100%;
    text-align: center;
    color: #D2D2D2;
}
.container-login-signup-inputs{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}
.container-login-signup-inputs-individual {
    width: 90%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
}
.container-login-signup-inputs-individual input{
    width: 100%;
    height: 50px;
    border-radius: 15px;
    font-size: 1.2rem;
    border: 0;
    background-color: #F2F2F2;
}
.container-login-signup-inputs-individual-container{
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
}
.container-login-signup-inputs-individual-container input{
    width: 100%;
    height: 50px;
    border-radius: 15px;
    font-size: 1.2rem;
    border: 0;
    background-color: #F2F2F2;
    margin: 0 5px;
}
.container-login-signup-message{
    width: 80%;
    color: #E76F51;
    text-align: center;
    padding: 10px;
}
.container-login-signup-btn{
    width: 80%;
    height: auto;
}
.container-login-signup-btn input{
    width: 100%;
    height: 50px;
    border: 0;
    color: #FFF;
    border-radius: 15px;
    font-size: 1.2rem;
    background-color: #2797FF;
}
.container-login-signup-createAccount{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container-login-signup-createAccount :nth-child(1){
    color: #D2D2D2;
    margin-right: 5px;
}
.container-login-signup-createAccount :nth-child(2){
    color: #E76F51;
}